@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

strong {
    color: #ff6600;
}

h2 {
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d3d3d3;
    padding: 1rem;
    padding-bottom: 1.5rem;
    position: fixed; /* Make the header fixed */
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure the header is on top */
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-right: 1rem;
}

header nav ul li a {
    color: black;
    text-decoration: none;
}


#logo {
    height: 50px;
}


.paragraph {

  margin-bottom: 2em;
}

.paragraph p {
    margin-bottom: 2em; /* Adjusting space between paragraphs */
    font-size: 1rem; 
    line-height: 1.8;  
    font-family: 'Merriweather', serif; 
    font-weight: 400; 
    color: #333; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
}


footer {
    display: flex;
    flex-direction: column; /* Align content in a column */
    align-items: center; /* Center horizontally */
    color: #ec1c24;
    margin-top: 40px;
    margin-bottom: 20px;
}

footer ul {
    list-style-type: none;
    padding: 0; /* Remove default padding */
    display: flex; /* Display icons horizontally */
    justify-content: center; /* Center icons horizontally within the ul */
}

footer ul li {
    margin: 0 10px; /* Space between the items */
}

footer ul li a {
    color: #ff6600;
    font-size: 150%;
}

footer p {
    font-size: 80%;
    font-weight: bold;
    color: #ff6600;
}

/*Index Page - Melting Snowman */

body {
    background-color: #d3d3d3;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .MeltingSnowman {
    width: 400px;
    height: 400px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .word {
    font-size: 2rem;
    margin: 20px;
    display: flex;
    justify-content: center;
  }
  
  .letters {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .letters button {
    margin: 5px;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    background-color: blue;
    color: #fff;
    cursor: pointer;
  }
  
  .message {
    font-size: 1.5rem;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttoncontainer {
    position: relative;
    padding-bottom: 50px;
    padding-top: 5px;
  }
   /* Centering the button vertically and horizontally, code used from W3Schools */
  .controls {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  #resetButton {
    width: 100%;
    padding: 10px;
    background-color: #ec1c24;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  #resetButton:hover {
    background-color: #0056b3; /* Background color on hover */
    color: white; /* Text color on hover */
}
  
  /* End of Index page */

/*Find a tutor page */

.centre-piece form label {
  font-size: 1rem;
  line-height: 1.8;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  color: #ff6600;
}

.centre-piece form .btn-primary {
  width: 100%;
  max-width: 80px; /* Limit the max width */
  padding: 10px;
  background-color: #ff6600;
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  box-sizing: border-box; /* Ensure padding doesn't affect the width */
  text-align: center; /* Center the text */
}

.centre-piece form .btn-primary:hover {
  background-color: #cc5200; /* Darker shade for hover effect */
}


.tutor-image-container {
    width: 100px;
    height: auto;
    overflow: hidden;
}

.tutor-image-container img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

/*End of Find a tutor page */

/*Book a lesson page */

.containerbooking {
  background: #fff;
  width: 400px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 25px;
  margin: 20px auto;
  position: relative;
  z-index: 1;
  border-top: 5px solid #f5a81a;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
  text-align: center;
  padding-bottom: 15px;
}

.input-fieldbooking {
  display: flex;
  margin-bottom: 20px;
}

.input-fieldbooking i {
  color: #333;
  height: 22px;
  width: 30px;
  padding-top: 10px;
  border: 1px solid #cccccc;
  border-right: none;
  text-align: center;
}

.input-fieldbooking input:hover {
  background: #fafafa;
}

.input-fieldbooking input[type=text],
.input-fieldbooking input[type=email],
.input-fieldbooking input[type=password] {
  width: 100%;
  padding: 8px 10px;
  height: 35px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  outline: none;
}

.input-fieldbooking input[type=text]:focus,
.input-fieldbooking input[type=email]:focus,
.input-fieldbooking input[type=password]:focus {
  box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  border: 1px solid #f5ba1a;
  background: #fafafa;
}

.select-optionbooking {
  position: relative;
  width: 100%;
}

.select-optionbooking select {
  display: inline-block;
  width: 100%;
  height: 35px;
  padding: 0px 15px;
  cursor: pointer;
  color: #7b7b7b;
  border: 1px solid #cccccc;
  border-radius: 0;
  background: #fff;
  appearance: none;
}

.select-arrowbooking {
  position: absolute;
  top: calc(50% - 4px);
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-width: 8px 5px 0 5px;
  border-style: solid;
  border-color: #7b7b7b transparent transparent transparent;
}

input[type=submitbooking] {
  background: #f5961a;
  height: 35px;
  line-height: 35px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 10px;
}

input[type=submitbooking]:hover {
  background: #d17f13;
}

.book-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.book-button:hover {
  background-color: #45a049;
}




/*End of book a lesson page */

/* Find classes page */

#information-findclasses div {
  font-size: 1rem; 
  line-height: 1.8;  
  font-family: 'Merriweather', serif; 
  font-weight: 400; 
  color: #333;
  margin-bottom: 2em; /* Matches the paragraph styling */
}

#information-findclasses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 70px 120px 70px 120px;
}

#information-findclasses img {
    max-width: 100%; /* Ensures the image scales down with the container */
    height: auto; /* Maintains the aspect ratio */
    width: 500px; /* Adjust this value as needed */
}

@media (max-width: 768px) {
    #information-findclasses {
        flex-direction: column;
        padding: 20px;
    }

    #information-findclasses img {
        width: 100%; /* Adjust this value as needed */
        max-width: 100%; /* Ensure the image scales down with the container */
    }
}


.centre-piece { /* Centering in the middle of the page */
    display: flex;
    justify-content: center;
    padding: 30px 200px; 
}

/* Timetable, calendar */

#Daysoftheweek {
    color:#ff6600;
}

#timetable, 
#timetable th, 
#timetable td {
    border: 1px solid black;
    text-align: center;
}

#timetable 
 {
    width: 100% 
}

#timetable th, 
#timetable td {
    width: 14.28%;
    height: 50%;
}

.pagetitle {
    color: #ff6600;
    text-align: center;
    margin: 125px 0px 35px 0px; /* Adjust the margin as needed */
    padding: 10px 50px 3px 50px;
  }

  .centre-piece {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 30px; /* Adjust padding for better spacing */
}

@media (max-width: 768px) {
    .centre-piece {
        padding: 10px; /* Reduce padding for smaller screens */
    }
    #timetable {
        width: 100%; /* Ensure the table fits within the screen width */
        max-width: 100%; /* Prevent it from exceeding its container */
        overflow-x: auto; /* Add horizontal scrolling if necessary */
    }
    #timetable th, 
    #timetable td {
        font-size: 12px; /* Adjust font size for smaller screens */
    }
}


/* Contact */

.signup-form {
    margin: 0 auto; /* Center the form horizontally */
    max-width: 700px; /* Set the maximum width for the form */
    padding: 30px; /* Add padding around the content */ 
    color: #ff6600;
    font-weight: bold;
  }
  
  .signup-form fieldset {
    border: none; /* Remove the border from the fieldset */
  }


  .signup-form fieldset label {
    display: block; /* Make labels display as block elements */
    margin-bottom: 10px; /* Add space below each label */
  }
  
  .signup-form fieldset input[type="text"],
  .signup-form fieldset input[type="email"],
  .signup-form fieldset input[type="tel"],
  .signup-form fieldset select,
  .signup-form fieldset textarea {
    width: 100%; /* Make inputs take up full width */
    padding: 10px; /* Add padding */
    margin-bottom: 20px; /* Add space below each input */
    box-sizing: border-box; /* Include padding and border in the width calculation */
  }

  #radiolabels label {
    color: black;
  }
  
  .signup-form textarea {
      margin-bottom: 20px; /* adjust this value for larger spacing */
      width: 100%; /* Make inputs take up full width */
  }
  
  #contactform button[type="submit"] {
    width: 30%;
    padding: 10px;
    background-color: #ff6600;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Add space above the button */
  }
   
  #contactform button[type="submit"]:hover {
    background-color: red;
  }

  #title-responsecontact {
    color: #ff6600;
  }
  
  #text-responsecontact {
    display: flex;
    align-items: center;
    padding: 70px 120px 250px 120px;
  }
