@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 1rem;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-right: 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}


#logo {
    height: 50px;
}

footer {
    display: flex;
    flex-direction: column; /* Align content in a column */
    align-items: center; /* Center horizontally */
    color: #ec1c24;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .social-icons {
    display: flex; /* Display icons horizontally */
  }
  
  .social-networks i {
    font-size: 150%;
    margin: 1% 13px; /* More space between the items */
    padding: 2%;
    color: #ec1c24;
  }
  
  footer p {
    font-size: 80%;
    font-weight: bold;
  }


.centre-piece { /* Centering in the middle of the page */
    display: flex;
    justify-content: center;
    padding: 50px 200px; 
}

/* Timetable, calendar */

#timetable, 
#timetable th, 
#timetable td {
    border: 1px solid black;
}

#timetable 
 {
    width: 100% 
}

#timetable th, 
#timetable td {
    width: 14.28%;
    height: 30 %;
}

.pagetitle {
    color: black;
    text-align: center;
    margin: 100px; /* Adjust the margin as needed */
  }