@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 1rem;
    position: fixed; /* Make the header fixed */
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure the header is on top */
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-right: 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}


#logo {
    height: 50px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
}


footer {
    display: flex;
    flex-direction: column; /* Align content in a column */
    align-items: center; /* Center horizontally */
    color: #ec1c24;
    margin-top: 40px;
    margin-bottom: 20px;
}

footer ul {
    list-style-type: none;
    padding: 0; /* Remove default padding */
    display: flex; /* Display icons horizontally */
    justify-content: center; /* Center icons horizontally within the ul */
}

footer ul li {
    margin: 0 10px; /* Space between the items */
}

footer ul li a {
    color: #ec1c24;
    font-size: 150%;
}

footer p {
    font-size: 80%;
    font-weight: bold;
}

/* Find a tutor page */

.centre-piece { /* Centering in the middle of the page */
    display: flex;
    justify-content: center;
    padding: 50px 200px; 
}

/* Timetable, calendar */

#timetable, 
#timetable th, 
#timetable td {
    border: 1px solid black;
}

#timetable 
 {
    width: 100% 
}

#timetable th, 
#timetable td {
    width: 14.28%;
    height: 30 %;
}

.pagetitle {
    color: black;
    text-align: center;
    margin: 100px; /* Adjust the margin as needed */
  }

  /* Find a tutor */

  .tutor-card {
    border: 1px solid #ccc;
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}
.tutor-card img {
    max-width: 100px;
    margin-right: 16px;
}
